{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    background: #e66767;
    padding: 10px;
    text-align: center;
    color: rgb(120, 10, 194);
    margin-bottom: 10px;
    height: 80px;
  }

  header h1 {
    text-align: right;
  }

  header img {
    height: 64px;
    padding-left: 10px;
    float: left;
  }

  nav {
    background: yellow;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
  }

  nav ul {
    list-style: none;
  }

  nav ul li {
    display: inline-block;
    margin: 0 10px;
  }

  nav a {
    color: #c70f0f;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }

  #hero {
    background: #3bd87d;
    text-align: center;
    color: blue;
    padding: 10px;
    margin-bottom: 10px;
    height: 150px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }

  #hero h1 {
    margin-bottom: 10px;
    font-size: 25px;
  }

  #hero a {
    background: #804b4b;
    color: white;
    display: inline-block;
    padding: 10px;
    margin-bottom: 10px;

  }

  section {
    display: flex;
    justify-content: space-between;
    height: 150px;
  }

  div {
    flex-basis: 60%;
    background: violet;
    padding: 20px;
  }

  div h2 {
    text-align: center;
    margin: 0;
  }

  aside {
    background: #c70f0f;
    flex-basis: 38%;
    margin-left: 10px;
  }

  aside h3 {
    font-size: 24px;
    color: yellow;
    text-align: center;
    margin: 10px;
  }

  aside ul {
    display: block;
    color: #3bd87d;
    font-size: 20px;
    list-style: none;
    list-style-type: square;
    text-decoration: none;
    margin: 0;
    padding-bottom: 10px;

  }

  aside a {}

  footer {
    background: #e66767;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    color: rgb(120, 10, 194);
    font-weight: bold;
    font-size: 24px;
  }